<%- layout("./layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create new listings</h3>
    <br /><br />
    <form method="post" action="/listings" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input
          name="listing[title]"
          placeholder="Add a Title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good</div>
        <br />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <textarea
          name="listing[description]"
          placeholder="Enter a description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter short description</div>
        <br />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL : </label>
        <input
          name="listing[image]"
          placeholder="enter image URL/Link"
          type="text"
          class="form-control"
        /><br />
      </div>
      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price : </label>
          <input
            name="listing[price]"
            placeholder="Enter price"
            type="number"
            class="form-control"
          />
          <div class="invalid-feedback">Please enter a valid price</div>
          <br />
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country : </label>
          <input
            name="listing[country]"
            placeholder="Enter country"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid country name</div>
          <br />
        </div>
      </div>

      <div class="mb-3">
        <label for="Location" class="form-label">Location : </label>
        <input
          name="listing[location]"
          placeholder="Enter location"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid location</div>
        <br />
      </div>

      <button class="btn btn-dark mb-5 add-btn">Add Listing</button>
    </form>
  </div>
</div>
